table {
    border-collapse: collapse;
    font-family: monospace;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

input {
    width: 100%;
    border: none;
    text-align: center;
    font-family: monospace;
}

input:disabled {
    background-color: #eee;
}

.readonly-row {
    background-color: #e0e0e0;
}

.readonly-row input {
    background-color: #e0e0e0;
    pointer-events: none;
    user-select: none;
}